<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Detalle</title>
</head>
<body>


   
    <p>titulo: <i>{{ historias.titulo }}</i></p>
    <p>Subtitulo: <i>{{ historias.subtitulo }}</i></p>
    <p>Cuerpo: <i>{{ historias.cuerpo }}</i></p>
    <p>Autor: <i>{{ historias.autor }}</i></p>
    <p>Fecha: <i>{{ historias.fecha }}</i></p>
    <p>
        <a href='{% url "List" %}'>Regresar</a>
    </p>

    
</body>
</html>